.shop_container {
  width: 100%;
  height: 250px;
  margin-top: 100px;
  position: relative;
}
.shop_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgb(0, 0, 0, 0.7);
}
.shop_text i {
  font-size: 70px;
  color: #ffffff;
}
.shop_text p {
  width: 700px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.btn-container {
  width: 700px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.btn_sop {
  font-size: 22px;
  font-weight: 500;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
  transition: 1s ease;
}
.btn_sop:hover {
  background: #c0bebe;
  transform: scale(1.1);
}
.btn_sop a {
  color: #231c3d;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .shop_text {
    justify-content: space-around;
    gap: 0;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 0 40px;
  }
  .shop_text p {
    width: 500px;
    font-size: 16px;
  }
  .btn-container {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .btn_sop {
    font-size: 18px;
    padding: 7px 20px;
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .shop_text {
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  .shop_text p {
    width: 400px;
    font-size: 14px;
  }
  .btn-container {
    width: 400px;
  }
  .btn_sop {
    font-size: 14px;
  }
}

@media only screen and (max-width: 325px) {
  .shop_text {
    justify-content: space-between;
    gap: 0px;
    padding: 0 20px;
  }
  .shop_text i {
    font-size: 50px;
    color: #ffffff;
  }
  .shop_text p {
    width: 200px;
    font-size: 12px;
  }
  .btn-container {
    width: 200px;
  }
}
