.item_container {
  width: 100%;
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 80px;
}
@media only screen and (max-width: 760px) {
  .item_container {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    padding: 0 60px;
  }
}
@media only screen and (max-width: 576px) {
  .item_container {
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
  }
}
@media only screen and (max-width: 325px) {
  .item_container {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }
}
