.container {
  width: 100%;
}
.content {
  width: 100%;
  height: 100vh;
  background-image: url(./images/background2.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  position: relative;
}
.content-text {
  width: 850px;
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.heading {
  font-size: 40px;
  font-weight: 500;
  color: #022a36;
  line-height: 68px;
  text-align: center;
}
.heading span {
  font-size: 50px;
  font-weight: 600;
}
.shop-btn {
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  padding: 8px 35px;
  background-color: #b47603;
  cursor: pointer;
  border: none;
  transition: 1s ease;
}
.submit:hover {
  transform: scale(1.1);
  background: #cc8f1d;
}

.sales-container {
  margin-top: 200px;
}
.border_line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border_line p {
  width: 150px;
  height: 2px;
  border-radius: 30px;
  background: #cc8f1d;
  margin-top: 20px;
}
.product-section h1 {
  font-size: 38px;
  font-weight: 600;
  color: #231c3d;
  text-align: center;
}
.collections {
  margin-top: 80px;
}
.collections h1 {
  font-size: 38px;
  font-weight: 600;
  color: #231c3d;
  text-align: center;
}
.sales {
  margin-top: 100px;
}
.sales h1 {
  font-size: 38px;
  font-weight: 600;
  color: #231c3d;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  .content {
    padding: 90px 40px 0 40px;
  }
  .content-text {
    width: 550px;
    padding: 20px;
  }
  .heading {
    font-size: 36px;
    line-height: 60px;
  }
  .container p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 28px;
  }
  .shop-btn {
    margin-top: 40px;
  }
  .submit {
    font-size: 20px;
    padding: 8px 30px;
  }
  .sales-container {
    margin-top: 110px;
  }
  .sales {
    margin-top: 80px;
  }
  .product-section h1 {
    font-size: 30px;
  }
  .collections h1 {
    font-size: 30px;
  }
  .sales h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .content-text {
    width: 500px;
    padding: 20px;
  }
  .heading {
    font-size: 36px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 325px) {
  .content-text {
    width: 280px;
    padding: 20px;
  }
  .heading {
    font-size: 26px;
    line-height: 36px;
  }
  .container p {
    font-size: 14px;
    line-height: 24px;
  }
  .shop-btn {
    margin-top: 40px;
  }
  .submit {
    font-size: 18px;
    font-weight: 300;
    padding: 8px 28px;
  }
  .product-section h1 {
    font-size: 22px;
  }
  .collections h1 {
    font-size: 22px;
  }
  .sales h1 {
    font-size: 22px;
  }
}
